<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smurfline</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.min.css">
</head>
<body>
<div id="map"></div>
<svg id="world" version="1.1" width="800" height="500" xmlns="http://www.w3.org/2000/svg">
</svg>
<!--////// todo: refactor this to own component /////-->
<div id="text-container">
    <h2 id="date"></h2>
    <div id="test1"></div>
    <div id="test2"></div>
    <div id="test3"></div>
    <div id="test4"></div>
    <div id="test5"></div>
    <div id="test6"></div>
</div>
<!-- /////////////////////////////////////////////////-->
<div id="react-container"></div>
<script src="bundle.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"
    async defer></script>
</body>
</html>