@import 'styles/tides';
@import 'styles/surf_report';
@import 'styles/svg';
@import 'styles/led_clock';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#world {
  border-left: 1px solid #26c1fa; //#1F7481;
  border-bottom: 1px solid #24c1f8; //#1F7481;
  position: absolute;
  bottom: 35px;
  left: 15px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
  z-index:2
}


#text-container{
  color:white;
  position: absolute;
  top:30%;
  left:100px;
  width:400px;
  font-family: sans-serif;
}
