@import "styles/elements";


//////////////
// Icon files
//////////////

@filePath: "http://nolantheplant.com/DROP/";
@goodConditionsIcon:     "smile.png";
@fairConditionsIcon:     "smile.png";
@badConditionsIcon:      "smile.png";
@goodConditionsIconWt:   "smile.png";
@fairConditionsIconWt:   "smile.png";
@badConditionsIconWt:    "smile.png";
@windIcon:               "wind-icon.png";
@risingTideIcon:         "tide-icon.png";
@droppingTideIcon:       "tide-icon.png";

@highlightColor:         #39e4fd;
@blueBgColor:            rgba(21, 106, 162, 0.40);
@blueTransparentBgColor: rgba(1, 73, 113, 0.25);

//////////////
//colors
//////////////

@highlightColor:         #39e4fd;
@blueBgColor:            rgba(21, 106, 162, 0.40);
@blueTransparentBgColor: rgba(1, 73, 113, 0.25);

///////////
//Settings
///////////

@mainSize:   800px;


#react-container{
  position:absolute;
  top:20px;
  width: @mainSize;
  height:@mainSize;
  left:50%;
  margin-left: (@mainSize / -2);
  background: @blueBgColor;
  .rounded(50%);
  .drop-shadow(0, 0, 200px, 0.75);
}


div#firstReport {
  color: white;
}

img {
  max-width: 100%
}

h1,
h2,
h3,
h4 {
  font-weight: 200;
  padding: 0;
  margin: 0
}

.clear {
  clear: both;
}

.waveHeight {
  text-align: right;
  font-size: 26px;
}

.conditionIcons {
  text-align: left;
}

.waveHeight,
.conditionIcons {
  float: left;
  width: 50%;
  display: inline-block;
}

///////////////
//topBox mixin
///////////////

.topBoxes {
  background: rgba(21, 106, 162, 0.40);
  padding: 15px 30px;
  .drop-shadow(0, 0, 100px, 0.5);
  min-height: 250px;
  text-align: center
}

#firstReport {
  .topBoxes;
  .transition(.25s, ease-out);
  position: absolute;
  top: 10%;
  left: 0;
  width: 58%;
  color: #fff;
  font-weight: 200;
  h2 {
    font-size: 125px;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  p {
    margin-top: 0;
    border-top: 2px solid @highlightColor;
    padding-top: 10px;
    text-align: justify;
  }
  ul {
    list-style: none;
    padding-top: 10px;
    li {
      padding: 0 0 0 30px;
      margin: 5px 0;
      transition: all .5s ease;
      &:first-child {
        background: url("@{filePath}@{goodConditionsIcon}") no-repeat;
        background-size: contain;
      }
      &:nth-child(2) {
        background: url("@{filePath}@{windIcon}") no-repeat;
        background-size: contain;
        padding-left: 30px;
      }
      &:nth-child(3) {
        background: url("@{filePath}@{risingTideIcon}") no-repeat;
        background-size: contain;
        padding-left: 30px;
      }
      span {
        margin-left: -30px;
        margin-right: 40px;
      }
    }
  }
}

// #tideReport {
//   position: absolute;
//   top: 10%;
//   right: 0;
//   transition: all .5s ease;
// }
// #tideReport p {
//   margin: 2px;
// }
// #tideReport span {
//   opacity: .25;
//   margin-left: 15px;
//   cursor: pointer;
// }
// #tideReport span:hover {
//   color: #39e4fd;
//   opacity: 1
// }
// #futureConditions {
//   width: 150px;
//   position: absolute;
//   left: 130px;
//   transition: all .25s ease;
//   opacity: 0;
//   bottom:215px;
// }
// #futureConditions ul {
//   list-style: none;
// }
// #futureConditions ul li img {
//   width: 20px;
// }
// #dates {
//   position: absolute;
//   bottom: -10px;
//   padding: 0;
//   left: 15px;
// }
// #dates li {
//   display: inline-block;
//   float: left;
//   margin: 0 2px;
//   font-size: 12px;
//   width: 22px;
//   padding: 0 10px;
//   text-transform: uppercase;
//   opacity: .25;
//   transition: all .5s ease;
// }
// div.direction{
//   position:absolute;
//   top:86%;
//   left:11%;
//   transform:rotate(-140deg);
//   opacity:.25;
// }
// div.direction p{
//   padding:0;
//   margin:0;
// }