@import "styles/elements";

//////////////
//colors
//////////////

@highlightColor:         #39e4fd;
@blueBgColor:            rgba(21, 106, 162, 0.40);
@blueTransparentBgColor: rgba(1, 73, 113, 0.25);

.tides-container{
    position:absolute;
    min-height:250px;
    top: 10%;
    padding:15px;
    background: @blueBgColor;
    right: 50px;
    cursor:pointer;
    .drop-shadow(0, 0, 100px, 0.2);
}
